.App {
  text-align: center;
}

body {
  margin: 5px;
  padding: 10px;
}

img {
  width: 200px;
  height: 250px;
  display: flex;
  padding: 5px;
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  /* padding-top: 10px; */
  /* position: relative; right: 100px; */
  /* grid-template-columns: 40px; */
  /* display:inline-flex; */
  /* text-align: center; */
  /* justify-self: start; */
  /* grid-area: auto; */
  /* display: inline-grid; */
  /* margin-bottom: 2em; */
  /* position: relative; left: -200px; */
  /* position: relative; */
  /* margin-bottom: 2em; */
  /* clear: both; */
  /* height: 15px; */
  /* width: 15px; */
  /* border: 1px solid grey; */
  /* margin: 10px; */
}