.App {
  text-align: center;
}

body {
  margin: 5px;
  padding: 10px;
}

img {
  width: 200px;
  height: 250px;
  display: flex;
  padding: 5px;
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}